<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">
</head>

<body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- pre loader area start -->
    <app-chargement></app-chargement>
    <!-- pre loader area end -->

    <!-- back to top start -->
    <div class="back-to-top-wrapper">
        <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    <!-- back to top end -->

    <!-- mobile menu area start -->
    <app-menu></app-menu>
    <!-- mobile menu area end -->

    <!-- header area start -->
    <app-header></app-header>
    <!-- header area end -->

    <main>
        <!-- breadcrumb area start -->
        <section class="breadcrumb__area include-bg pt-100 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__content p-relative z-index-1">
                            <h3 class="breadcrumb__title">Liste Products </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- shop area start -->
        <section class="tp-shop-area pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="tp-shop-main-wrapper">
                            <div class="tp-shop-items-wrapper tp-shop-item-primary">
                                <div class="tab-content" id="productTabContent">
                                    <div class="tab-pane fade show active" id="grid-tab-pane" role="tabpanel"
                                        aria-labelledby="grid-tab">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let product of listOffre">
                                                <div class="tp-product-item-2 mb-40">
                                                    <div class="tp-product-thumb-2 p-relative z-index-1 fix w-img">
                                                        <a href="">
                                                            <img [src]="product.image" alt="">
                                                        </a>
                                                        <div class="tp-product-list-content">
                                                            <div class="tp-product-content-2 pt-15">
                                                                <h3 class="tp-product-title-2">
                                                                    <a href="#">{{ product.nom }}</a>
                                                                </h3>
                                                                <div class="tp-product-price-wrapper-2">
                                                                    <span class="tp-product-price-2 new-price">{{ product.prix }} dt</span>
                                                                    <span class="tp-product-price-2 old-price">{{ product.prix }} dt</span>
                                                                </div>
                                                                <p>{{ product.description }}</p>
                                                                <div class="tp-product-list-add-to-cart">
                                                                    <button *ngIf="IsloggedIn" class="btn btn-sm btn-dark" onclick="window.location.href='/mesreservations';"
                                                                        (click)="reserver(product)">Order</button>
                                                                    <button *ngIf="!IsloggedIn" class="btn btn-sm btn-warning"
                                                                        (click)="connexion()">Connexion</button>
                                                                    <span style="text-align: left;" [innerHtml]="messageCommand"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shop area end -->
    </main>

    <!-- footer area start -->
    <app-footer></app-footer>
    <!-- footer area end -->
</body>

</html>