<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/dash" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboard</span>
                    </a>
                    
                </li>

                <li>
                    <a href="/ListeAdmin" class="waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Administrateur</span>
                    </a>
                    
                </li>

                

                <li>
                    <a href="/ListeClient" class="waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-calendar">Client</span>
                    </a>
                </li>

                <li>
                    <a href="/ListeProduct" class="waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-chat">Product</span>
                    </a>
                </li>

                <li>
                    <a href="/ListeCommand" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-file-manager">Command</span>
                    </a>
                </li>

               

                <li>
                    <a href="/ListeContact" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-crypto">Contact</span>
                    </a>
                    
                </li>

               

               

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>